

<main class="main-content">
    <section class="image-section">
      <img src="../assets/python.png" alt="About Us Image" class="about-image">
     
    </section>
   
   
  
    
  </main>
  <div class="h12"> <h2 class="tx1">Training Calender</h2>
    <Button class="bt1">Emguire Now</Button></div>
  
  
  <div>
    <hr>
    <h1>Overview</h1>
    <p>Java training provides individuals with a comprehensive understanding of the Java programming language, a versatile and widely used language in the software development industry. During Java training programs, participants typically learn the fundamental concepts of Java, including syntax, data types, control structures, and object-oriented programming principles.
  
      The training often covers topics such as Java classes and objects, inheritance, polymorphism, encapsulation, and abstraction. Participants gain hands-on experience through practical exercises, projects, and coding assignments, enabling them to apply their knowledge to real-world scenarios.</p>
      
  </div>
  <div class="mainbd">
    <div class="good">
      
      
      
      <p class="op1">Basics of Java  <span class="hrspace" ></span><span class="hrspace" ></span>  Mr Purushottam<span class="hrspace"></span><span class="hrspace" ></span>Starts 10th July</p>
  
    </div>
    <div class="good">
      
      
      
      <p class="op1">Basics,Design Pattern <span class="hrspace" ></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Mr Purushottam,Mr John<span class="hrspace"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Starts 10th July</p>
  
    </div>
    <div class="good">
      
      
      
      <p class="op1">Basics ,Design pattern, Spring<span class="hrspace" ></span>   Mr Purushottam,Mr John ,Mr Alen<span class="hrspace"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Starts 10th July</p>
  
    </div>
    <div class="good">
      
      
      
      <p class="op1">FullStack  <span class="hrspace" ></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Mr Purushottam,Miss Zeiba,Mr John<span class="hrspace"></span>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Starts 10th July</p>
  
    </div>
  </div>
  <!--     
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">Duration</th>
              <th scope="col">Portion</th>
              <th scope="col">Fees</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>3 months</td>
              <td>Basics</td>
              <td>15k</td>
              <td>view </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>6 months</td>
              <td>basic ,design pattern</td>
              <td>35k</td>
              <td>view</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>12 months</td>
              <td>basic , design patter, spring</td>
              <td>1 lakhs</td>
              <td>view</td>
            </tr>
          </tbody>
        </table>
         -->
  
  <footer class="footer">
    <p>&copy; 2023 Our Company. All rights reserved.</p>
  </footer>
  <p>python works!</p>
