<div class="container">
    <div class="left-side">
      <!-- Content for the left side -->
      <img src="../assets/corporate.png"  class="left">
    </div>
    <div class="right-side">
      <!-- Content for the right side -->
      <div class="right"> <h2>Where works happen</h2>
        <p>
        
          
            Unlock your career potential with our Placement Assured PG Diploma Courses at Cranes Varsity. Our esteemed institution is offering specialized programs in Embedded Automotive, IoT, VLSI, Data Science, Java, and Business Analytic. Gain expertise in cutting-edge technologies and acquire the skills demanded by the industry. With a strong focus on practical training, our courses provide hands-on experience and real-world projects. The courses are designed to equip you with industry-relevant skills and upon completing the program, you’ll be equipped with the necessary knowledge and experience to secure a rewarding career. What sets us apart is our commitment to job placement. Our courses guarantee job placement upon completion. Don’t miss this opportunity. </p>
      </div>
     
    </div>
  </div>
<div class="bittons">
    <button class="btn">
        Java
      </button>
      <button class="btn">
        Angular
      </button><button class="btn">
        Vlsi
      </button><button class="btn">
        Python
      </button><button class="btn">
        Embedded 
      </button>
</div>
<router-outlet></router-outlet>
